<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <!-- Default document -->
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
            </files>
        </defaultDocument>
        
        <!-- URL Rewrite Rules -->
        <rewrite>
            <rules>
                <!-- Proxy API requests to Flask on port 5000 -->
                <rule name="ProxyAPI" stopProcessing="true">
                    <match url="^api/(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/api/{R:1}" />
                    <serverVariables>
                        <set name="HTTP_X_FORWARDED_HOST" value="{HTTP_HOST}" />
                        <set name="HTTP_X_FORWARDED_PROTO" value="http" />
                    </serverVariables>
                </rule>
            </rules>
        </rewrite>
        
        <!-- CORS Headers -->
        <httpProtocol>
            <customHeaders>
                <add name="Access-Control-Allow-Origin" value="*" />
                <add name="Access-Control-Allow-Methods" value="GET, POST, OPTIONS" />
                <add name="Access-Control-Allow-Headers" value="Content-Type, Accept" />
            </customHeaders>
        </httpProtocol>
        
        <!-- Static content caching -->
        <staticContent>
            <mimeMap fileExtension=".json" mimeType="application/json" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="00:05:00" />
        </staticContent>
    </system.webServer>
</configuration>